.profile__edit-button {
    background-color: transparent;
    background-image: url("../../../images/edit_button.svg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: 10px 10px;
    border: 1px solid #FFFFFF;
    height: 24px;
    margin: 15px;
    padding: 0;
    width: 24px;
}

.profile__edit-button:hover {
    opacity: 0.6;
    transition: opacity .2 linear;
    cursor: pointer;
}

@media screen and (max-width: 600px) {
    .profile__edit-button {
        width: 18px;
        height: 18px;
        background-size: 7.5px 7.5px;
        margin-top: 8px;
    }
}