.profile {
    /* padding-bottom: 50px; */
    align-items: center;
    display: grid;
    grid-template-columns: 120px 1fr 150px;
    margin: 0 auto;
    max-width: 880px;
    padding-top: 40px;
}

@media screen and (max-width: 900px) {
    .profile {
        max-width: 800px;
    }
}

@media screen and (max-width: 768px) {
    .profile {
        grid-template-columns: 150px 1fr;
        margin: 0 20px 0 20px;
        padding-bottom: 36px;
        row-gap: 20px;
    }
}

@media screen and (max-width: 600px) {
    .profile {
        grid-template-columns: 1fr;
        margin: 0 auto;
        row-gap: 0;
    }
}