.header {
    border-bottom: 1px solid rgba(84,84,84, .7);
    margin: 0 auto;
    max-width: 880px;
    /* min-height: 74px; */
    padding-bottom: 40px;
    padding-top: 45px;
}

@media screen and (max-width: 425px) {
    .header {
        padding-bottom: 42px;
        padding-top: 28px;
        padding-bottom: 31.6px;
    }
}