.elements {
    margin: 0 auto;
    padding-top: 45px;
    padding-bottom: 40px;
    border: 1px solid red;
    display: grid;
    grid-gap: 17px;
    grid-template-columns: repeat(3, 1fr);
    max-width: calc(100% - 400px);
}