.elements {
    display: grid;
    gap: 20px 17px;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin: 0 auto;
    max-width: calc(100% - 400px);
    padding-bottom: 40px;
    padding-top: 50px;
}

@media screen and (max-width: 900px) {
    .elements {
        grid-template-columns: repeat(2, minmax(min-content, max-content));
        width: calc(100px - 38px);
    }
}

@media screen and (max-width: 600px) {
    .elements {
        flex-grow: 1;
        grid-template-columns: minmax(min-content, max-content);
        padding-top: 36px;
    }
}