.popup__save-button {
    background-color: #000000;
    border-radius: 2px;
    border: none;
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 400;
    height: 50px;
    line-height: 21.78px;
    margin: 46px 0 0;
    padding: 0;
    text-align: center;
    transition: opacity .2s linear;
    width: 358px;
}

.popup__save-button:hover {
    opacity: .8;
}

@media screen and (max-width: 600px) {
    .popup__save-button {
        font-size: 14px;
        height: 46px;
        line-height: 16.94px;
        width: 238px;
        margin: 45px 0 0;
    }
}