.element {
    background-color: #FFFFFF;
    border-radius: 10px;
    color: #000000;
    line-height: 0;
    margin: 0;
    max-width: 282px;
    min-height: 361px;
    overflow: hidden;
    padding: 0;
}