.element__button-like {
    background-color: transparent;
    background-image: url("../../../images/like_button.svg");
    background-position: top;
    background-repeat: no-repeat;
    border: none;
    box-sizing: border-box;
    height: 19px;
    margin: 0;
    padding: 0;
    width: 22px;
    transition: opacity .2s ease-in-out;
    outline: none;
    cursor: pointer;
}

.element__button-like:hover {
    opacity: .5;
}

.element__button-like:active {
    background-image: url("../../../images/like_button_filled.svg");
    opacity: 1;
}